{% extends 'base.html' %}
{% block content %}
<!-- 답변 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">답변 올리기</h5>
    {# <form class="my-3" action="{{ url_for('board.create') }}"> #}
	<form method="post" class="my-3" action="{{ url_for('answer.create') }}">
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items() %}
        <strong>{{ form[field].label }}</strong>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
        {{ form.csrf_token }}

        {{ form.content.label }}
        {{ form.content(class="form-control") }}

        <button type="submit" class="btn btn-primary">답변완료</button>
    </form>
</div>
{% endblock %}