<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if ques %}
    글번호 {{ ques.id }} <br>
    제목 {{ ques.subject }} <br>
    내용 {{ ques.content }} <br>
    게시일  {{ ques.create_date }} <br>


    {% for ans in ques.answer_set %}
    <hr>
        {{ ans.id }} <br>
        {{ ans.content }} <br>
        {{ ans.create_date }} <br>
    {% endfor %}
    {% else %}

  
    찾으시는 글번호에 해당하는 글이 없습니다
    {% endif %}
    endif 바깥의 문장입니다
</body>
</html>